/*|| RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

body{
    background: rgb(22, 21, 21);
    color: white;
    overflow-x: hidden;
}

/* || UTILITIES */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 5px;
    color: white;
    background: red;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out ;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px red;
}

input{
    display: inline-block;
    padding: 0.8rem 0.8rem;
    border-radius: 3px;
    background: transparent;
    color: white;
    border: 0.4px solid white;
}

select{
    display: inline-block;
    padding: 0.8rem 1.8rem;
    background: transparent;
    color: white;
    border-radius: 5px;
}

select option{
    color: black;
}

/* || HEADER */ 
.hero{
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/zgeTuV.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    color: red;
    font-size: 2.5rem;
}

.nav{
    display: flex;
    gap: 0.5rem;
}

/* || HERO */
.hero__text{

    text-align: center;
    padding: 8rem 2rem 6rem;
}