/* || RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 8rem;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    background: var(--bg-main);
    color: var(--text-main);
}

/* || VARIABLES */
:root{
    --bg-main : #f8fafc;
    --bg-card : #ffffff;
    --text-main : #0f172a;
    --text-muted : #64748b;
    --primary : #2563eb;
    --secondary : #7c3aed;
    --border-light : #e5e7eb;
}

/* || UTITLITIES */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

/* || GENERAL */
h1,h2,h3{
    font-weight: 700;
    color: var(--text-main);
}

p{
    color: var(--text-muted);
}

section{
    padding: 5rem 0;
}

/* || HEADER */
.header{
    position: sticky;
    top: 0;
    background: rgb(245, 245, 245,0.6);
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 1rem 0;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000000;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav__ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav__ul a{
    text-decoration: none;
    color: #000000d8;
    font-weight: bolder;
    transition: color 0.3s;
}

.nav__ul a:hover{
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* || HERO */
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8rem 2rem 6rem;
    height: 70vh;
}

.hero__text h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}



.hero__text p{
     margin-bottom: 2rem;
     font-size: 1.5rem;
}

.hero__text a{
    display: inline-block;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.hero__text a:last-child{
    text-decoration: none;
    color: white;
    background: black;
    padding: 1rem;
}

.hero__button{
    border: 5px solid black;
    padding: 0.8rem 1.8rem;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out;
}

.hero__button:hover{
    background-color: white;
    transform: translateY(-4px);
}

.hero__input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
}

.btn__search{
    width: 90px;
    height: 45px;
    border-radius: 4px;
    color: white;
}

/* || CARD */ 
.card{
    background: var(--bg-card);
    border: 2px solid var(--border-light);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card p, .card h3{
    padding: 1rem ;
}

.card img{
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
}

/* || ARTICLE */
.article{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 2rem;

}

/* || FOOTER */
.footer{
    text-align: center;
    padding: 2rem 0;
    color: #777;
}


/* || RESPONSIVENESS */
@media screen and (max-width:768px){
    .header__content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
